<!DOCTYPE html>
{% extends 'base_generic.html' %}
<html lang="ru">

{% block content %}
    <h1 class="h1">Добро пожаловать!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed tempus ante ante, a faucibus dui fringilla vitae.
        Duis feugiat justo ac ex tincidunt, ac sagittis libero sodales.
        Nulla finibus ante massa, vel condimentum odio scelerisque eu.
        Donec in tristique ligula, a fringilla sapien. Nunc porta ac turpis eu feugiat.
        Praesent urna dolor, elementum pellentesque libero ac, convallis euismod est.
        Mauris sed lorem mi. Mauris malesuada nibh ac quam sollicitudin, eget venenatis turpis auctor.
        Nam blandit felis quis nisl tristique laoreet.
        Morbi dignissim massa eget mauris convallis, at vehicula sapien fermentum.
    </p>
    <h5>Всего гостиничных номеров: <strong>{{ total_rooms_number }}</strong>, <br>Из них свободно: <strong>{{ available_rooms_number }}</strong></h5>
    <a class="btn btn-primary" href="{% url 'rooms' %}">Заказать номер</a>
{% endblock %}
</html>