{% extends 'base_generic.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}


{% block content %}
    <h1 class="header">Поиск комнаты по критериям</h1>
    {% if messages %}

        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {%  if message.extra_tags == 'authorize' %}
                    <div class="alert alert-danger">
                        <h5 class="alert-heading"><i class="bi bi-exclamation-circle"> </i>{{ message }}</h5>

                        <a class="btn btn-danger" href="{% url 'login' %}">Войти</a>
                        <a class="btn btn-outline-danger" href="{% url 'register' %}">Зарегистрироваться</a>
                    </div>
                {% elif message.extra_tags == 'order_created' %}
                    <div class="alert alert-success">
                        <h5 class="alert-heading"><i class="bi bi-check-circle"> </i>{{ message }}</h5>
                        <div>Для получения подробной информации перейдите в <a class="alert-link" href="{% url 'profile' %}">личный кабинет</a>.</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    {% endif %}
    <div class="col card">
        <div class="card-body">
            <h5 class="card-title">Подберите комнату по своим параметрам</h5>
            <p class="card-text">Выберите дату заселения и выселения и, если необходимо, укажите дополнительные данные</p>
            <form method="post">
                {% csrf_token %}
                <div class="row row-cols-md-2">
                    <div class="col-md-auto">{{ form.comfortability|as_crispy_field }}</div>
                    <div class="col-md-auto">{{ form.capacity|as_crispy_field }}</div>
                    <div class="col-md-auto">{{ form.price_from|as_crispy_field }}</div>
                    <div class="col-md-auto">{{ form.price_to|as_crispy_field }}</div>
                    <div class="col-md-auto">{{ form.date_from|as_crispy_field }}</div>
                    <div class="col-md-auto">{{ form.date_to|as_crispy_field}}</div>
                </div>
                <div class="row row-cols-auto">
                    <div class="accordion accordion-flush col-md-auto" id="accordionFlushAdditional">
                        <div class="accordion-item">
                            <h2 class="accordion-header" style="--bs-btn-padding-x: 0rem;" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Дополнительно
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushAdditional">
                                <div class="accordion-body">
                                    <div class="col-md-auto">{{ form.floor|as_crispy_field }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" name="findRoom" class="btn btn-primary" value="find">Найти</button>
            </form>
            {#            {% crispy form %}#}
            {#            <a class="btn btn-primary" type="submit" href="#">Найти</a>#}
            {#            <button type="submit" class="btn btn-primary">Найти</button>#}
        </div>
    </div>

    <div class="col mt-3">
        {% if form.is_valid %}
            <h1 class="header">Найденные комнаты</h1>
        {% else %}
            <h1 class="header">Все комнаты</h1>
        {% endif %}
        <div class="row row-cols-auto justify-content-center g-4">
            {% for room in room_list %}
                <div class="col-md-auto" href="#">
                    <div class="card text-center h-100">
                        <div class="card-header">
                            <span class="badge {% if room.comfortability == 'lux' %} bg-info {% elif room.comfortability == 'semi-lux' %} bg-secondary {% else %} bg-black {% endif %} rounded-pill">{{ room.get_comfortability_display }}</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Комната <strong>{{ room.number }}</strong>
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Вместительность: {{ room.capacity }}</li>
                            <li class="list-group-item">Этаж: {{ room.floor }}</li>
                            <li class="list-group-item">Цена: {{ room.price }}</li>
                        </ul>
                        {% if is_found %}
                            <div class="card-body">
                                <div class="text-success"><i class="bi bi-check-circle"></i> Доступна для заказа</div>
                            </div>
                        {% endif %}
                        <div class="card-footer">
                            <div class="d-grid gap-2">
                                {#                                <div class="col">#}
                                <a class="btn btn-primary btn-dark" href="{{ room.get_absolute_url }}"><i class="bi bi-eye"></i> Посмотреть</a>
                                {% if is_found %}
                                    <form method="post" class="d-grid mb-0">
                                        {% csrf_token %}
                                        {#                                        <div class="col">#}
                                        <button type="submit" name="orderRoom" class="btn btn-primary" value="{{ room.number }}" ><i class="bi bi-bag"></i> Заказать</button>
                                        {#                                        </div>#}
                                    </form>
                                {% endif %}

                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md">
                    Ничего не найдено
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}