asgiref==3.5.2
astroid==2.11.7
beautifulsoup4==4.11.1
crispy-bootstrap5==0.6
dill==0.3.5.1
dj-database-url==1.0.0
Django==4.1
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
gunicorn==20.1.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pylint==2.14.5
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
whitenoise==6.2.0
wrapt==1.14.1
