{% extends 'base_generic.html' %}

<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "index" %}">Гостиница</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'rooms' %}">Комнаты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                </ul>
                <div class="nav-item"> <a class="nav-link" href="#">Личный кабинет</a></div>
            </div>
        </div>
    </nav>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
        <p class="alert-danger">Логин или пароль введены неверно</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert-info">Your account doesn't have access to this page. To proceed,
                please log in with an account that has access.</p>
        {% else %}
            <p class="alert-info">Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <form class="for" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}
</body>
</html>