{% extends "base_generic.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% load crispy_forms_tags %}
  	 	<h2 class="font-weight-bold mt-3">Сброс пароля</h2>
		<hr>
		<p>Введите адрес электронной почты, связанный с вашим аккаунтом. На него будут отправлены инструкции по восстановлению</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>

{% endblock %}